{% extends 'base.html' %}
{% load static %}

{% block static_booking %}
<link rel="stylesheet" href="{% static 'bookingapp/css/bookingapp.css' %}">
{% endblock static_booking %}


{% block content_booking %}
	
	<div class="booking-content-header">
		<h3>Book the resource you need before it's gone!</h3>
	</div>
	
	{% block content_booking_home %}
	{% endblock content_booking_home %}
	
	<div class="booking-content-footer">
		<h6>Can't find what you need? Let's
			<a href="#">help</a>
		</h6>
	</div>

{% endblock content_booking %}