/* ************************ */
/*							*/
/*		R3C HOMEAPP CSS		*/
/*		RESPONSIVE ONLY		*/
/*							*/
/* ************************ */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

	/* ************************ */
	/*			LOGIN			*/
	/* ************************ */

	#login-form {
		padding: 0 20%;
	}

}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	/* ************************ */
	/*			LOGIN			*/
	/* ************************ */

	#home_title {
		margin: 0rem;
	}

	#login-form {
		padding: 0 35%;
	}

	#btn-login {
		margin-bottom: 5rem;
	}



}

/* Extra large screens (1423px and up) */
/* @media only screen and (min-width: 1423px) {
} */
