{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
	<link rel="stylesheet" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" href="{% static 'css/common.m.css' %}">
	
	{% block static_booking %}
	{% endblock static_booking %}

	<title>R3C</title>
</head>
<body>

	<div class="main-wrapper">

		<header>
			<div class="logo-wrapper">
				<a class="logo" href="/">
					<img src="{% static 'images/icon.svg' %}" alt="">
				</a>
			</div>
			<!-- DO NOT REMOVE -->
			<!-- <div></div>   placeholder for center 3fr -->
			<ul>
				<li><a class="button_pri" href="#">Support</a></li>
				<li><a class="button_pri" href="#">Feedback</a></li>
			</ul>
		</header>

		<nav>
			<!-- APP NAV BAR HERE -->
		</nav>

		<main>

			{% block content_home %}
			{% endblock content_home %}

			{% block content_booking %}
			{% endblock content_booking %}

		</main>

		<footer>			
			<div class="footer_line"></div>
			<div class="">
				<a href="#">Privacy</a>
				<span class="separator"> | </span>
				<a href="#">Terms</a>
			</div>
			<p>R3C. All rights reserved.</p>
			<div class="social-wrapper">

				<div class="social-icon">
					<a href="http://facebook.com">
						<img src="{% static 'images/facebook.svg' %}" alt="">
					</a>
				</div>


				<div class="social-icon">
					<a href="http://linkedin.com">
						<img src="{% static 'images/linkedin.svg' %}" alt="">
					</a>
				</div>


				<div class="social-icon">
					<a href="http://twitter.com">
						<img src="{% static 'images/twitter.svg' %}" alt="">
					</a>
				</div>


				<div class="social-icon">
					<a href="http://youtube.com">
						<img src="{% static 'images/youtube.svg' %}" alt="">
					</a>
				</div>


				<div class="social-icon">
					<a href="http://github.com">
						<img src="{% static 'images/github.svg' %}" alt="">
					</a>
				</div>
				
			</div>
		</footer>
	</div>


	



	<!-- <header class="">
		<div class="">
			<nav>
				<a class="menu-item" href="http://webserver.zz">Home</a>
				<a class="menu-item" href="http://webserver.zz/booking">Booking</a>
				<a class="menu-item" href="http://webserver.zz/#">Other</a>
				<a class="menu-item" href="http://webserver.zz/#">Another</a>

			</nav>
		</div>
		<div class="logo-wrapper">			
			<a class="logo" href="http://webserver.zz">
				<img src="{% static 'images/icon.svg' %}" alt="">
			</a>
		</div>
	  </header> -->



	<!-- <div class="wrapper">
		
		<div class="box1">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum velit veritatis amet perferendis corrupti tenetur nobis aperiam dicta dolorem. Tenetur?
			
		</div>
		
		<div class="box2">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sequi harum laudantium quas officiis ratione repellat veritatis ipsum repellendus accusantium.

		</div>
		<div class="box1">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum velit veritatis amet perferendis corrupti tenetur nobis aperiam dicta dolorem. Tenetur?
			
		</div>
		
		<div class="box2">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sequi harum laudantium quas officiis ratione repellat veritatis ipsum repellendus accusantium.

		</div>
	</div> -->
	


	<!-- <footer>
		<div class="footer_col footer_col_left">
			<a href="">Privacy</a>
			<a href="">Terms</a>
		</div>
		<div class="footer_col footer_col_right">
			<div class="social">In</div>
			<div class="social">Fb</div>
			<div class="social">Tw</div>
			<div class="social">Yt</div>
			<div class="social">Gt</div>
			
		</div>
		<p>R3C. All rights reserved.</p>
	</footer> -->
	
</body>
</html>