/* ************************ */
/*							*/
/*   R3C Project-Wide CSS   */
/*							*/
/* ************************ */



/* ************************ */
/*			DEFAULTS		*/
/* ************************ */
* {
	background-color: #000;
	color: #d6d6d6;	
	font-family: 'Roboto Slab', serif;
	font-size: 100%;
	/* margin: 0 auto; */
}

html, body {
	height: 100%;
	margin: 0;
}

ul li {
	display: inline-block;
}

h1 {
	color: #00B0F0;
	font-size: 350%;
}

h2 {
	font-size: 300%;
}

h3 {
	font-size: 250%;
}

h4 {
	font-size: 200%;
}

h5 {
	font-size: 150%;
}

a {
	text-decoration: none;
}

a:hover {
	color: #00B0F0;
}

img {
	vertical-align: middle;
}

.separator {
	margin: 0rem 0.5rem;
}

.button_grey {
	border: 1px solid #2f3840;
	background-color: #111315;
	margin: 0rem 1rem;
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
}

.button_grey:hover {
	border: 1px solid #00B0F0;
	/* color: #00B0F0; */
}

.button_grey:active {
	border: 1px solid #00B0F0;
	color: #d6d6d6;
	background-color: #00B0F0;
}

.button:hover {
	border: 1px solid #00B0F0;
	color: #00B0F0;
}

.button:active {
	border: 1px solid #00B0F0;
	color: #d6d6d6;
	background-color: #00B0F0;
}

header {
	grid-area: header;
}

nav {
	grid-area: nav;
}

main {
	grid-area: main;
	padding: 0.5rem 5rem;
}

footer {
	grid-area: footer;
}

.main-wrapper {
	height: 100%;
	display: grid;
	gap: 2px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 5rem 4rem 1fr 4rem;
	grid-template-areas: "header header"
						"nav nav"
						"main main"
						"footer footer";
						
}


/* ************************ */
/*			HEADER AREA		*/
/* ************************ */

header {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-auto-rows: 5rem;
}

.logo-wrapper {
	text-align: center;
}

.logo {
	line-height: 5rem; /* used for vertical aligning */
}

header > ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	line-height: 5rem;
	height: 100%;
	margin: 0 auto;
}


/* ************************ */
/*		NAVBAR MENU AREA	*/
/* ************************ */

nav {

}


/* ************************ */
/*		MAIN CONTENT AREA	*/
/* ************************ */

main {
	/* height: 100%; */
	/* display: grid; */
	/* grid-template-columns: 1fr 3fr 1fr; */
	/* grid-auto-rows: 5rem; */
}

/* h2 {
	margin-top: 4rem;
} */



/* .wrapper{	
	display: grid; */
	/* grid-template-columns: 70% 30%; */
	/* grid-template-columns: 20% 40% 40%; */
	/* grid-template-columns: 1fr 2fr 2fr; RECOMMENDED */
	/* grid-column-gap: 1em;
	grid-row-gap: 2em; */
	/* grid-gap: 2em; */
/* } */
/* .wrapper > div {
	color: black;
	background: #eee;
	padding: 1rem;
} */

/* .wrapper > div:nth-child(odd) {
	background: #ddd; */
	/* padding: 1rem; */
/* } */


/* ************************ */
/*			FOOTER			*/
/* ************************ */

footer {
	/* border: 1px red solid; */
	/* padding: 0.5rem; */
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 0.2rem 1fr;
	/* grid-auto-rows: 4rem; */

	/* margin: 1px; */
	/* background-color: palegreen; */
	text-align: right;	
}

.footer_line {
	grid-column: 1 / 5;
	/* height: 0.5rem; */
	border-top:1px solid #d6d6d6;
	width: 95%;
	text-align: center;
	margin: auto;
}


footer > p {
	/* line-height: 2rem; */
	text-align: center;
}

.social-wrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.social-icon > a:hover > img {
	border-bottom: 1px solid #00B0F0;
}

/* .social > div {
	text-align: center;

} */

/* footer {
	width: 80%;
	border-top: solid 1px #d6d6d6;
	position: fixed;	
	bottom: 0;
	text-align: center;
	float: right;
	margin: 1% 10%;
} */

/* footer a {
	color: #888;
	text-decoration: none;
	margin-right: 2%;
} */

/* footer a:hover {
	color: #00B0F0;
} */

/* .footer_col {
	width: 47%;
	margin: 1%;
	display: inline-block;
} */

/* .footer_col_right {
	text-align: right;
}

.footer_col_left {
	text-align: left;
}

.social {
	display: inline-block;
	margin: 0.2rem 0.6rem;
}
 */






