/* ************************ */
/*							*/
/*   R3C Project-Wide CSS   */
/*							*/
/* ************************ */



/* ************************ */
/*			DEFAULTS		*/
/* ************************ */
* {
	background-color: #000;
	color: #d6d6d6;	
	font-family: 'Roboto Slab', serif;
	font-size: 100%;
	margin: 0 auto;
}

h1 {
	color: #00B0F0;
	font-size: 150%;
}

.wrapper{	
	display: grid;
	/* grid-template-columns: 70% 30%; */
	/* grid-template-columns: 20% 40% 40%; */
	grid-template-columns: 1fr 2fr 2fr; /* RECOMMENDED */
	/* grid-column-gap: 1em;
	grid-row-gap: 2em; */
	grid-gap: 2em;
}
.wrapper > div {
	color: black;
	background: #eee;
	padding: 1rem;
}

.wrapper > div:nth-child(odd) {
	background: #ddd;
	/* padding: 1rem; */
}


/* ************************ */
/*			FOOTER			*/
/* ************************ */

footer {
	width: 80%;
	border-top: solid 1px #d6d6d6;
	position: fixed;	
	bottom: 0;
	text-align: center;
	float: right;
	margin: 1% 10%;
}

footer a {
	color: #888;
	text-decoration: none;
	margin-right: 2%;
}

footer a:hover {
	color: #00B0F0;
}

.footer_col {
	width: 47%;
	/* border-top: solid 1px #d6d6d6; */
	margin: 1%;
	display: inline-block;
}

.footer_col_right {
	text-align: right;
}

.footer_col_left {
	text-align: left;
}

.social {
	display: inline-block;
	margin: 0.2rem 0.6rem;
}







